.video-react {
  .ui-video-seek-slider {
    position: relative;
  }
  .ui-video-seek-slider:focus {
    outline: none;
  }
  .ui-video-seek-slider .track {
    padding: 10px 0;
    cursor: pointer;
    outline: none;
  }
  .ui-video-seek-slider .track:focus {
    border: 0;
    outline: none;
  }
  .ui-video-seek-slider .track .main {
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 8.5px;
    overflow: hidden;
    transition: transform 0.4s;
    outline: none;
  }
  .ui-video-seek-slider .track .main:focus {
    border: 0;
    outline: none;
  }
  .ui-video-seek-slider .track .main .buffered {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    transform: scaleX(0.8);
    z-index: 2;
    transform-origin: 0 0;
    transition: 0.5s transform;
  }
  .ui-video-seek-slider .track .main .seek-hover {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: scaleX(0.6);
    transform-origin: 0 0;
    opacity: 0;
    transition: opacity 0.4s;
  }
  .ui-video-seek-slider .track .main .connect {
    position: absolute;
    background-color: #27AE60;
    width: 100%;
    height: 100%;
    z-index: 3;
    left: 0;
    transform: scaleX(0.13);
    transform-origin: 0 0;
  }

  .ui-video-seek-slider .track.active .main {
    transform: scaleY(2);
  }
  .ui-video-seek-slider .thumb {
    pointer-events: none;
    position: absolute;
    width: 12px;
    height: 12px;
    left: -6px;
    top: 4px;
    z-index: 4;
    transform: translateX(100px);
  }
  .ui-video-seek-slider .thumb .handler {
    transition: transform 0.2s;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-color: #27AE60;
    opacity: 0;
    transform: scale(0.4);
  }
  .ui-video-seek-slider .thumb.active .handler {
    opacity: 1;
    transform: scale(1);
  }
  .ui-video-seek-slider .hover-time {
    position: absolute;
    background: #000;
    border-radius: 2px;
    top: -25px;
    left: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateX(150px);
    pointer-events: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;

    &:after {
      position: absolute;
      bottom: -6px;
      content: '';
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #000;
      opacity: 1;
      transition-duration: 0.25s;
    }
  }
  .ui-video-seek-slider .hover-time.active {
    opacity: 1;
  }
  .ui-video-seek-slider:hover .track .main .seek-hover {
    opacity: 1;
  }
}


.video-react {
  .video-react-forward-control {
    transition: all 0.25s;
    &:hover {
      transform: rotate(15deg);
    }
  }

  .video-react-replay-control {
    transition: all 0.25s;
    &:hover {
      transform: rotate(-15deg);
    }
  }

  .video-react__tooltip-wrapper {
    pointer-events:none;
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 100%;
    background: none;
    padding: 0 13px;
    z-index: 1;
  }
  .video-react__tooltip {
    display: inline-flex !important;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 8px;
    background: #111312;
    border-radius: 2px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    opacity: 1;
    transition-duration: 0.15s;
    &_hide {
      opacity: 0;
    }
  }
}

.video-react .video-react-control-bar {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: rgba(17, 19, 18, 0.8);
  z-index: 100;
  .ui-video-seek-slider {
    width: 100%;
  }
  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Video has started playing
.video-react-has-started .video-react-control-bar {
  @include display-flex;
  visibility: visible;
  opacity: 1;

  $trans: visibility 0.1s, opacity 0.1s; // Var needed because of comma
  @include transition($trans);
}

// Video has started playing AND user is inactive
.video-react-has-started.video-react-user-inactive.video-react-playing {
  .video-react-control-bar.video-react-control-bar-auto-hide {
    // Remain visible for screen reader and keyboard users
    visibility: visible;
    opacity: 0;

    $trans: visibility 1.0s, opacity 1.0s;
    @include transition($trans);
  }
}

.video-react-controls-disabled .video-react-control-bar,
.video-react-using-native-controls .video-react-control-bar,
.video-react-error .video-react-control-bar {
  // !important is ok in this context.
  display: none !important;
}

// Don't hide the control bar if it's audio
.video-react-audio.video-react-has-started.video-react-user-inactive.video-react-playing .video-react-control-bar {
  opacity: 1;
  visibility: visible;
}

// IE 8 + 9 Support
.video-react-has-started.video-react-no-flex .video-react-control-bar {
  display: table;
}
