
.video-react .video-react-progress-control {
  @include flex(auto);
  @include display-flex(center);
  min-width: 4em;
}

.video-react-live .video-react-progress-control {
  display: none;
}

// Box containing play and load progresses. Also acts as seek scrubber.
.video-react .video-react-progress-holder {
  @include flex(auto);
  @include transition(all 0.2s);
  height: 0.3em;
}

// We need an increased hit area on hover
.video-react .video-react-progress-control:hover .video-react-progress-holder {
  font-size: 1.666666666666666666em;
}

/* If we let the font size grow as much as everything else, the current time tooltip ends up
 ginormous. If you'd like to enable the current time tooltip all the time, this should be disabled
 to avoid a weird hitch when you roll off the hover. */

// Also show the current time tooltip
.video-react .video-react-progress-control:hover .video-react-time-tooltip,
.video-react .video-react-progress-control:hover .video-react-mouse-display:after,
.video-react .video-react-progress-control:hover .video-react-play-progress:after {
  visibility: visible;
  font-size: 0.6em;
}
.video-react .video-react-progress-control:hover .video-react-play-progress:before {
  opacity: 1;
}
.video-react .video-react-progress-control:hover {
  .video-react-time-progress {
    visibility: visible;
  }
}

// Progress Bars
.video-react .video-react-progress-holder .video-react-play-progress,
.video-react .video-react-progress-holder .video-react-load-progress,
.video-react .video-react-progress-holder .video-react-tooltip-progress-bar,
.video-react .video-react-progress-holder .video-react-load-progress div {
  position: absolute;
  display: flex;
  height: 0.3em;
  margin: 0;
  padding: 0;
  // updated by javascript during playback
  width: 0;
  // Needed for IE6
  left: 0;
  top: 0;

}
.video-react {
  .video-react-progress-control {
    &:hover {
      .video-react-play-progress {
        &::before {
          transform: scale(1);
        }
      }
    }
  }
}


.video-react .video-react-play-progress {
  background-color: #27AE60;
  @extend .video-react-icon;
  @extend .video-react-icon-circle;
  display: flex;
  align-items: center;

  // Progress handle
  &:before {
    //opacity: 0;
    content: '';
    width: 13px;
    height: 13px;
    position: absolute;
    //top: -0.333333333333333em;
    right: -0.5em;
    transform: scale(0);
    background-color: #27AE60;
    border-radius: 12px;
    font-size: 0.9em;
    transition-duration: 0.10s;
  }
}

  // Current Time "tooltip"
// By default this is hidden and only shown when hovering over the progress control

.video-react {
  .video-react-time-progress {
    visibility: hidden;
    position: absolute;
    right: -22px;
    background: #000;
    border-radius: 2px;
    bottom: 18px;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;

    &:after {
      position: absolute;
      bottom: -6px;
      content: '';
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #000;
    }
  }
}

.video-react .video-react-time-tooltip,
.video-react .video-react-mouse-display:after,
.video-react .video-react-play-progress:after {
  display: none; // hide old tooltip
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: -3.4em;
  right: -1.9em;
  color: #fff;
  content: attr(data-current-time);
  padding: 2px 8px;
  background: #252E33;
  border-radius: 2px;
  font-family: 'Lato', sans-serif;  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 140%;
}
.video-react .video-react-play-progress:before {
  /*border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;*/

}


.video-react .video-react-time-tooltip,
.video-react .video-react-play-progress:before,
.video-react .video-react-play-progress:after {
  z-index: 1;
}

.video-react .video-react-progress-control .video-react-keep-tooltips-inside:after {
  display: none;
}

.video-react .video-react-load-progress {
  background: rgba(255, 255, 255, 0.2);
}

// there are child elements of the load progress bar that represent the
// specific time ranges that have been buffered
.video-react .video-react-load-progress div {
  //background-color: rgba(255,255,255,0.2)
  // For IE8 we'll lighten the color
  //background: lighten($video-react-secondary-background-color, 50%);
  // Otherwise we'll rely on stacked opacities
  //background: rgba($video-react-secondary-background-color, 0.75);
}

.video-react.video-react-no-flex .video-react-progress-control {
  width: auto;
}
.video-react .video-react-time-tooltip {
  display: inline-block;
  height: 2.4em;
  position: relative;
  float: right;
  right: -1.9em;
}

.video-react .video-react-tooltip-progress-bar {
  visibility: hidden;
}

.video-react .video-react-progress-control .video-react-mouse-display {
  display: none;
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #000;
  z-index: 1;
}
.video-react-no-flex .video-react-progress-control .video-react-mouse-display {
  z-index: 0;
}
.video-react .video-react-progress-control:hover .video-react-mouse-display {
  display: block;
}
.video-react.video-react-user-inactive .video-react-progress-control .video-react-mouse-display,
.video-react.video-react-user-inactive .video-react-progress-control .video-react-mouse-display:after {
  visibility: hidden;
  opacity: 0;
  $trans: visibility 1.0s, opacity 1.0s;
  @include transition($trans);
}
.video-react.video-react-user-inactive.video-react-no-flex .video-react-progress-control .video-react-mouse-display,
.video-react.video-react-user-inactive.video-react-no-flex .video-react-progress-control .video-react-mouse-display:after {
  display: none;
}
.video-react .video-react-mouse-display .video-react-time-tooltip,
.video-react .video-react-progress-control .video-react-mouse-display:after {
  color: #fff;
  @include background-color-with-alpha(#000, 0.8);
}
