html { min-height:100%; }
body {
  display: flex;
  flex-direction: column;
  min-height:100%;

}
body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
